<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .div1{
            display: flex;
            justify-content:space-around
        }
    </style>
</head>
<body>
    <div class="div1">
        <h1><a href="/">home</a></h1>
        <h1><a href="/navigation/contact">contact</a></h1>
        <h1><a href="/navigation/details">details</a></h1>
    </div>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Sed pariatur similique veniam at saepe excepturi dolorum perferendis quidem deleniti laudantium?
    </p>
</body>
</html>